nav {
  display: flex;

  background-color: var(--bg-color);
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
  /* position: static; */
}

nav h1 {
  color: var(--primary-color);
}

nav ul {
  display: flex;

  gap: 20px;
}

.menubar {
  /* display: none; */
  cursor: pointer;
  list-style: none;
}
#logoCia{
width: 8%;
height: 8%;
}
/* MEDIA QUERY  para que el bloque 
de código css sea responsive */

@media screen and (max-width: 720px) {
  .menubar {
    display: block;
  }

  nav {
    display: flex;
    background-color: var(--bg-color);
    align-items: center;
    padding: 20px 40px;
    justify-content: space-between;
    /* position: static; */
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
