.principal {
  box-sizing: border-box;

  display: grid;
 
  grid-template-columns: 3fr 4fr;
  grid-auto-flow: colum;
  padding-top: 10px;
}

img {
  box-sizing: content-box;
  /* max-width: 350px; */
  /*height: 390px; */
  max-height: 390px;
  margin-left: 15%;
}

aside {
  padding: 5px 10px 5px 10px;
}
