:root{

--ff1: 'Exo 2', sans-serif; 
--ff2: 'Rubik Iso', cursive;
--ff3: 'Yanone Kaffeesatz', sans-serif; 
--ff4: 'Asap', sans-serif;

--ff5: 'Rubik Iso', cursive;
--ff6: 'Yanone Kaffeesatz', sans-serif;

}