.infoVideo {
  position: relative;
  bottom: 0;
  /* height: calc(100%-50px); */
  box-sizing: content-box;

  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-auto-flow: colum;
  padding-top: 10px;
  padding-bottom: 25px;
}
#contenedor {
  background-color: aquamarine;
}
#busquedaTitulo {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  justify-items: center;
  padding: 1em;
}
#labelBusqueda {
  color: blue;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
}
#busqueda {
  display: flex;
  border-radius: 5px;
  min-width: 25em;
}
#titpeli {
  text-align: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#buscar {
  display: flex;
  border-radius: 5px;
  background-color: black;
  color: beige;
}
#buscar:hover {
  background-color: rgb(102, 85, 85);
  color: black;
}
table {
  padding-top: 5px;
  max-width: 800px;
}

th {
  text-align: center;
}
td,
th {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  background-color: rgb(199, 236, 224);
}
#td-anio, #td-imdb{
  font-size: .9em;
}
#botonBuscarVideo {
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 0.7em;
}
#botonBuscarVideo:hover {
  border-radius: 5px;
  background-color: rgb(102, 6, 6);
  color: white;
  font-size: 0.7em;
}
#aside2 {
  display: flex;
  flex-direction: column;

  margin-right: 10px;
  /* overflow-y: scroll; */
  /* max-height: 800px; */
}
#centroAside2 {
  display: flex;
  flex-direction: row;
}
#imgPeli {
  display: flex;
  border: none;
  max-width: 300px;
  max-height: 300px;
  overflow: auto;
  justify-content: center;
  align-content: center;

  /* overflow: scroll; */
}
#info {
  padding: 10px;
}
#poster {
  object-fit: cover;
}
