.principal {
  box-sizing: border-box;

  display: grid;

  grid-template-columns: 3fr 4fr;
  grid-auto-flow: colum;
  padding-top: 10px;
}

img {
  box-sizing: content-box;
  /* max-width: 350px; */
  /*height: 390px; */
  max-height: 390px;
  margin-left: 15%;
}

aside {
  padding: 5px 10px 5px 10px;
}

#peliculasMuestras {
  margin-top: 2em;
  overflow: hidden;
}

#forrest {
  display:flex;
  margin-top: 5px;
  padding: 0.1em;
  overflow: hidden;
  border: 3px black solid;
  border-radius: 5px;
  box-shadow: 16px 14px 20px #0000008c;
  }
