@import "./v_variables.css";
@import "./v_recoveryPass.css";
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Exo+2:wght@700&family=Rubik+Iso&family=Yanone+Kaffeesatz&display=swap");

@import "./v_general.css";
@import "./v_header.css";
@import "./v_main.css";
@import "./v_footer.css";
@import "./v_form.css";
@import "./v_infoVideos.css";
@import "./v_creditCard.css";
@import "./v_pagoAprobado.css";
@import "./v_quienesSomos.css";
@import "./v_listaPeliculas.css";
@import "./v_cartel.css";
@import "./v_eliminaCuenta.css";
