#modal {
  box-sizing: border-box;
  display: flex;
  /* border: 2px solid blue; */
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 990;
  background-color: rgb(33, 201, 123);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 60vh;
  max-width: 40vw;
  font-size: 70%;
}
#cartelOk {
  /* border: 1px solid black; */
  display: flex;
 
}
#botonOK {
  padding: 10px;
  font-family: var(--ff1);
  font-size: 1.5em;
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-content: center; */
  background-color: transparent;
  border: transparent;
  /* color: white; */

  /* margin-bottom: 5px; */
  width: 100%;
}

#botonOK:hover {
  cursor: pointer;
}

#imgOk {
  width: 20%;
  height: 20%;
}


#modal2 {
    box-sizing: border-box;
    display: flex;
    /* border: 2px solid blue; */
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 990;
    background-color: rgb(240, 194, 197);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 60vh;
    max-width: 40vw;
    font-size: 70%;
    color: rgb(97, 4, 4);
  }
  #cartelnoOk {
    /* border: 1px solid black; */
    display: flex;
   
  }
  
  #imgnoOk {
    width: 10%;
    height: 10%;
  }
  