/* *{
  border: 1px solid rgb(37, 58, 179);

} */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/fondo001.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
