nav {
  /* border: 1px solid brown; */
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 0.5fr;

  background-color: var(--bg1-color);
  align-items: center;
  padding: 10px 40px;
  justify-content: space-between;
}

nav h1 {
  /* border: 1px solid brown; */
  display: flex;
  color: var(--primary-color);
  font-size: 2.5em;
  font-weight: 700;
  justify-content: center;
}

nav ul {
  /* border: 1px solid brown; */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

  gap: 20px;
}

#btns {
  /* border: 1px solid brown; */
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-family: var(--ff4);
}
#login,
#signIn {
  justify-content: center;
  width: 33%;
  display: flex;
  border-radius: 6px;
  color: white;
  padding: 5px 10px;
  background-color: rgb(65, 65, 145);
  font-weight: bold;
}
#quienes {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 6px;
  color: rgb(26, 24, 24);

  background-color: rgb(192, 192, 216);
  font-weight: bold;
  font-size: 0.7em;
}
.menubar {
  /* display: none; */
  cursor: pointer;
  list-style: none;
}

.menubar > li {
  /* border: 1px black solid; */
  padding: 5px 10px;
  border-radius: 8px;

  font-weight: bold;
  
   background: #636363; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8358ab,
    #9f86c0 
  ); 
  background: linear-gradient(
    to right,
    #8358ab,
    #9f86c0
  ); 
}
.menubar > li:hover {
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: rgb(10, 10, 78);
}

#logoCia {
  width: 68%;
  height: 78%;
}
.suscr {
  display: flex;
}
#titulo {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
#cliente {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
#cliente1 {
  display: flex;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  color: blue;
  font-weight: bold;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
#aside-contenidoInicial {
  text-align: center;

  font-family: var(--ff1);
  color: rgb(35, 35, 124);
}
#aside-span {
  text-align: justify;
  font-family: var(--ff1);
  font-weight: bold;
  font-size: 1.2em;
}
/* ****************************
GENERAR EL MENU HAMBURGUESA
***************************/

#ul-hamburguesa {
  display: none;
}

#menu {
  display: none;
}
#menu:checked ~ ul {
  display: block;
}
#label-hamburguesa {
  box-sizing: border-box;
  display: flow-root;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
#label-hamburguesa:hover {
  background: grey;
}

/* Estilo del boton cuando el menú está expandido*/
#menu:checked ~ label {
  background: lightgrey;
}

#ul-hamburguesa {
  margin-top: 0;
  padding: 0;
  width: 200px;
}

#li-hamburguesa {
  display: flow-root;
  background: lightgrey;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
  border-radius: 3px;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
#li-hamburguesa:hover {
  filter: brightness(110%);
}

/* MEDIA QUERY  para que el bloque 
de código css sea responsive */

@media screen and (max-width: 720px) {
  .menubar {
    display: block;
  }

  nav {
    display: flex;
    background-color: var(--bg-color);
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    /* position: static; */
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  #btns {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    gap: 0.2em;
    font-family: var(--ff4);
    align-content: center;
    align-items: center;
  }

  #logoCia {
    width: 58%;
    height: 68%;
  }
}
